.str-chat__channel-list {
  width: 100%;
}
.str-chat__channel {
  width: 100%;
}
.str-chat__thread {
  width: 45%;
}

.str-chat__container {
  @apply bg-red-300;
}

.str-chat__main-panel {
  @apply w-10 bg-red-300;
}

.str-chat__message-input {
  @apply fixed bottom-0 w-full;
}
